<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scope</title>
  <link rel="icon" href="/img/items/favicon.png" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/javascript/script.js"></script>


</head>

<body>
  <%- include('includes/navbar', {session : session}); %>
  <% if (session !== "empty" && session.connected == true) { %>
  <%- include('includes/messages', {session : session}); %>
  <% } %>
  <div class="leftContainer text-center">
    <h1>Découvrez votre avenir maintenant avec Scope.</h1>
    <p class="pt-4 text-center" style="font-size: 18px;">
      Bienvenue sur SCOPE, la plateforme qui met en relation des professionnels et des étudiants pour aider ces derniers
      à trouver une
      voie qui leur plaît.<br>
      Chez SCOPE, nous pensons qu'il est primordial de se renseigner avant de choisir son orientation. Nous mettons un
      point d'honneur à vous faire découvrir les métiers artisanaux qui font rayonner le savoir-faire français.
      Professionnels et étudiants prennent contact afin d'organiser des journées découvertes en partageant leurs
      passions.
    </p>
    <h1 class="mt-5 mb-5">Qui êtes-vous ?</h1>
    <div class="row">
      <div class="col-sm-6"><a href="/users/inscription/"><button class="indexButton">Etudiant</button></a></div>
      <div class="col-sm-6"><a href="/users/inscription/"><button class="indexButton">Professionnel</button></a></div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>