@font-face {
  font-family: "Vision";
  src: url("../font/Vision-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vision";
  src: url("../font/Vision-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Vision";
  src: url("../font/Vision-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: bold;
}
