@font-face {
  font-family: "Vision";
  src: url("../font/Vision-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vision";
  src: url("../font/Vision-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Vision";
  src: url("../font/Vision-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: bold;
}

* {
  font-family: Vision;
}

body {
  background: url("../img/background/backgroundBlue.png") no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

#backgroundEtudiant {
  background: url("../img/background/backgroundOrange.png") no-repeat center fixed;
}

#backgroundProfessionnel {
  background: url("../img/background/backgroundProfessionnel.png") no-repeat center fixed;
}

nav {
  padding: 0 !important;
  font-family: Vision;
  font-size: 19px;
  font-weight: normal;
}

nav .leftPart li {
  padding: 8px 0 0 20px;
}

nav .leftPart li a {
  color: white !important;
}

nav .rightPart {
  margin-top: 2px;
  padding: 5px 12px 0 12px;
  border-radius: 5px;
  background-color: #fff;
}

nav li a {
  transition: color 0.1s ease-in-out;
}

nav li a:hover {
  color: #eaa968 !important;
}
#backgroundEtudiant nav .leftPart li a:hover {
  color: rgba(86, 142, 255, 0.924) !important;
}

.navbar-toggler {
  border: 1px solid #eaa968;
}

#backgroundEtudiant .navbar-toggler {
  border: 1px solid #3366cc;
}
.navbar-toggler-icon {
  background-image: url("../img/items/bars-solid.svg");
}
/* Index */
.leftContainer {
  margin: 20px calc(10vw + 15px);
  width: calc(60vw - 20px);
  color: #fff;
}

.leftContainer p {
  text-align: justify;
  text-justify: inter-word;
}

.leftContainer h1 {
  margin: 0 auto;
}

/* Cards Container */
.displayCards {
  margin: 10px 3.5vw;
  width: calc(70vw - 20px);
}

/* Profile Cards */
.profile-card {
  margin: 20px 0;
  padding: 0 !important;
  font-weight: normal;
}
.profile-card .btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 20px;
}
.profile-card .card-img-block {
  width: 91%;
  margin: 0 auto;
  position: relative;
  top: -20px;
}
.profile-card .card-img-square {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}
.profile-card .card-img-block img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}

.profile-card .card-body {
  padding: 0 1.25rem 1.25rem 1.25rem !important;
}
.profile-card .card-text {
  height: 66px;
}
.profile-card h5 {
  color: #5793ce;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.profile-card p {
  font-size: 14px;
  font-weight: 300;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.profile-card .btn {
  background-color: #5793ce;
  border-color: #5793ce;
  color: #fff;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}
.profile-card .btn i {
  padding: 3px 0 0 5px;
  font-size: 10px;
  color: #fff;
}
.profile-card a:hover {
  background-color: #eaa968;
  border-color: #eaa968;
}

/* Formulaires */

label {
  color: #fff;
  font-size: 17px;
}

.formSize {
  height: 270px;
}

.tab {
  display: none;
}

.allSteps {
  text-align: center;
  margin-top: 20px;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #eeeeee;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 1;
}

.currentStep {
  background-color: #91ec94f3 !important;
}

input.invalid {
  background-color: #ffdddd;
}

/* Page myProfile */

.personnal-profile-card {
  display: flex;
  width: calc(59vw - 20px);
  margin: 20px 3.5vw;
  padding: 0 !important;
  font-weight: normal;
}
.personnal-profile-card .btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 15px;
  padding: 7px 20px;
}
.personnal-profile-card .card-img-block {
  width: 28%;
  margin: 0 3% 0 6%;
  position: relative;
  top: -20px;
}
.personnal-profile-card .card-img-block img {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}
.personnal-profile-card .card-body {
  padding-top: 40px !important;
}
.personnal-profile-card h5 {
  color: #5793ce;
  font-weight: 600;
  font-size: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.personnal-profile-card h6 {
  color: #5793ce;
  font-weight: 500;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.personnal-profile-card i {
  font-size: 20px;
  color: #5793ce;
}
.personnal-profile-card .card-bot-container {
  padding: 0 30px 15px 30px;
}
.personnal-profile-card p {
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
  text-justify: inter-word;
}
.personnal-profile-card .btn {
  background-color: #5793ce;
  border-color: #5793ce;
  color: #fff;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}
.personnal-profile-card .btn i {
  padding: 3px 0 0 5px;
  font-size: 16px;
  color: #fff;
}
.personnal-profile-card a:hover {
  background-color: #eaa968;
  border-color: #eaa968;
}

/* Premium */

.contentContainer {
  width: calc(40vw + 50px);
  margin: 10vh calc(50vw - 50px) 0 10vw;
  color: #fff;
  padding: 40px 25px;
  background: #ffffff62;
  border: 2px solid #fff;
  border-radius: 30px;
}

.contentContainer .premiumButton {
  width: 50%;
  margin: 25px 25% 0 25%;
  padding: 10px 15px 7px 15px;
  border-radius: 25px;
  border: 1px solid #fff;
  font-size: 22px;
  color: #3366ccdc;
}

/* Changer de PP */
.contentContainer .sendPPButton {
  width: 100%;
  padding: 10px 15px 7px 15px;
  border-radius: 25px;
  border: 1px solid #fff;
  font-size: 22px;
  color: #3366ccdc;
}

/* Onglet messages */

.ongletMessage {
  display: block;
  z-index: 2000;
  position: fixed;
  bottom: -10px;
  right: 50px;
  width: calc(20vw + 15px);
  max-width: 300px;
  min-width: 250px;
  background: white;
  border-radius: 3px 3px 0px 0px;
  transition: 0.3s ease-out;
}

.ongletMessage .ongletMessageName {
  background: #5793ce;
  color: #eee;
  padding: 8px 8px 4px 8px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px 3px 0px 0px;
}

.ongletMessage .msg_body {
  border: 2px solid #5793ce;
  background: #fff;
  height: 200px;
  font-size: 12px;
  padding: 10px;
  overflow: auto;
  overflow-x: hidden;
}

.ongletMessage .msg_input {
  width: 100%;
  height: 55px;
  border: 2px solid #5793ce;
  border-top: 0px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}

.ongletMessage .cross {
  float: right;
  cursor: pointer;
}

.ongletMessage .minimize {
  float: right;
  cursor: pointer;
  padding-right: 5px;
}

.ongletMessage .messageReceived {
  position: relative;
  background: #e2e2e2;
  padding: 5px 8px;
  min-height: 10px;
  margin: 0 10px 5px 0;
  border-radius: 5px;
}

.ongletMessage .messageSent {
  position: relative;
  background: #d4e7fa;
  padding: 5px 8px;
  min-height: 15px;
  margin: 0 0 5px 10px;
  border-radius: 5px;
  text-align: right;
}

@media only screen and (max-width: 1700px) {
  .displayCards {
    margin: 10px auto;
    width: calc(90vw - 14px);
  }
}
@media only screen and (max-width: 1300px) {
  .personnal-profile-card {
    width: calc(70vw - 20px);
  }
  .personnal-profile-card .card-img-block {
    width: 30%;
  }
  .personnal-profile-card h5 {
    font-size: 24px;
  }

  .leftContainer h1 {
    font-size: 40px;
  }

  .displayCards {
    width: 80vw;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 992px) {
  nav .leftPart li {
    padding-left: 0px;
  }

  nav .rightPart {
    padding-left: 0px;
    border-radius: 0px;
    background-color: inherit;
  }

  nav li a {
    color: white !important;
  }
  nav li a:hover {
    color: #eaa968 !important;
  }

  .leftContainer {
    margin: 15px calc(8vw + 15px);
    width: calc(80vw - 20px);
  }

  .leftContainer h1 {
    font-size: 26px;
  }

  .personnal-profile-card {
    width: calc(88vw - 20px);
    margin: 20px auto;
    padding: 0 !important;
    font-weight: normal;
  }
  .personnal-profile-card .card-body {
    width: 100%;
    padding-top: 10px !important;
    text-align: center;
  }
  .personnal-profile-card .card-img-block {
    width: 35%;
    margin: 0 auto;
  }
  .personnal-profile-card .card-bot-container .btn {
    margin-top: 5px;
    padding: 5px 10px;
  }

  .contentContainer {
    width: 80vw;
    margin: 2vh calc(50vw - 50px) 0 10vw;
    padding: 40px 25px;
  }
}

/* ScrollBar  */

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(85, 85, 85, 0.6);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}
