<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scope - Inscription</title>
  <link rel="icon" href="/img/items/favicon.png" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/javascript/script.js"></script>


</head>

<body>
  <nav class="navbar navbar-expand-lg position-static px-5">
    <a class="navbar-brand" href="/"><img src="/img/items/scopeBlack.svg" alt="Logo de Scope" width="145"
        class="d-inline-block align-middle mr-2"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav mr-auto leftPart">
        <li class="nav-item active">
          <a class="nav-link" href="/users/all/etudiants">Etudiants <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/all/professionnels">Professionnels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/premium/">Premium</a>
        </li>
      </ul>
      <form class="form-inline">
        <ul class="navbar-nav mr-auto rightPart">

          <!-- Uniquement quand le user est connecté -->
          <!-- <li class="nav-item">
              <a class="nav-link" href="#">Mon profil</a>
            </li> -->
          <li class="nav-item">
            <a class="nav-link pr-4" href="/users/login/">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/inscription/">Inscription</a>
          </li>
        </ul>
      </form>
    </div>
  </nav>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6">
        <form action="/api/users/inscription/" method="post">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Votre nom :</label>
                <input type="text" name="lastName" class="form-control" placeholder="Ex : Dupont">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Votre prénom :</label>
                <input type="text" name="firstName" class="form-control" placeholder="Ex : Jean">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Votre pseudo :</label>
            <input type="text" name="username" class="form-control" placeholder="Ex : Lock">
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Vous êtes un :</label>
                <select class="form-control" name="isEtudiant">
                  <option value="etudiant">Etudiant</option>
                  <option value="professionnel">Professionnel</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Votre âge :</label>
                <input type="number" name="age" class="form-control" placeholder="Ex : 18">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Votre e-mail :</label>
            <input type="text" name="email" class="form-control" placeholder="Ex : example.name@gmail.com">
          </div>
          <div class="form-group">
            <label>Votre profession / centre d'intérêt :</label>
            <input type="text" name="job" class="form-control" placeholder="Ex : Artisanat">
          </div>
          <div class="form-group">
            <label>Votre mot de passe :</label>
            <input type="password" name="password" class="form-control">
          </div>
          <div class="form-group">
            <label>Confirmez votre mot de passe :</label>
            <input type="password" name="confirmPassword" class="form-control">
          </div>
          <div class="form-group">
            <label>Votre biographie :</label>
            <textarea type="text" name="biography" class="form-control" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary mb-3" value="Upload">Je m'inscris !</button>
        </form>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>