<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scope - Inscription</title>
  <link rel="icon" href="/img/items/favicon.png" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/javascript/script.js"></script>


</head>

<body>
  <%- include('../includes/navbar', {session : session}); %>
  <div class="container mt-3">
    <div class="row">
      <div class="col-lg-6">
        <form action="/api/users/inscription/" method="post" id="registerForm">
          <div class="formSize">
            <div class="row tab">
              <div class="col-md-12 form-group">
                <label>Vous êtes un :</label>
                <select class="form-control" name="isEtudiant">
                  <option value="etudiant">Etudiant</option>
                  <option value="professionnel">Professionnel</option>
                </select>
              </div>
            </div>

            <div class="row tab">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Votre e-mail :</label>
                  <input type="text" name="email" class="form-control" placeholder="Ex : example.name@gmail.com">
                  <div class="invalidEntry" id="invalidEntryEmail">
                    <p>L'adresse email saisie n'est pas valide.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Votre âge :</label>
                  <input type="number" name="age" class="form-control" placeholder="Ex : 18">
                  <div class="invalidEntry" id="invalidEntryAge">
                    <p>Vous devez avoir au minimum 13 ans pour vous inscrire sur Scope.</p>
                  </div>
                </div>
              </div>

              <div class="col-md-12 form-group">
                <label>Votre mot de passe :</label>
                <input type="password" name="password" class="form-control">
              </div>
              <div class="col-md-12 form-group">
                <label>Confirmez votre mot de passe :</label>
                <input type="password" name="confirmPassword" class="form-control">
                <div class="invalidEntry" id="invalidEntryConfirmPassword">
                  <p>Les deux mots de passes donnés ne coincident pas.</p>
                </div>
              </div>
            </div>

            <div class="row tab">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Votre prénom :</label>
                  <input type="text" name="firstName" class="form-control" placeholder="Ex : Jean">
                  <div class="invalidEntry" id="invalidEntryFirstName">
                    <p>Ce prénom n'est pas valide.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Votre nom :</label>
                  <input type="text" name="lastName" class="form-control" placeholder="Ex : Dupont">
                  <div class="invalidEntry" id="invalidEntryLastName">
                    <p>Ce nom n'est pas valide.</p>
                  </div>
                </div>
              </div>

              <div class="col-md-12 form-group">
                <label>Votre pseudo :</label>
                <input type="text" name="username" class="form-control" placeholder="Ex : Lock">
                <div class="invalidEntry" id="invalidEntryUsername">
                  <p>Ce pseudonyme n'est pas valide.</p>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label>Votre Ville :</label>
                <input type="text" name="city" class="form-control" placeholder="Ex : Garches">
                <div class="invalidEntry" id="invalidEntryCity">
                  <p>Ce nom de ville n'est pas valide.</p>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label>Votre code Postal :</label>
                <input type="text" name="codePostal" class="form-control" placeholder="Ex : 92380">
                <div class="invalidEntry" id="invalidEntryCodePostal">
                  <p>Le code postal donné n'est pas valide.</p>
                </div>
              </div>

            </div>

            <div class="row tab">
              <div class="col-md-12 form-group">
                <label>Votre profession / Vos Etudes :</label>
                <input type="text" name="job" class="form-control" placeholder="Ex : Artisanat">
              </div>
              <div class="col-md-12 form-group">
                <label>Votre biographie :</label>
                <textarea type="text" name="biography" class="form-control" rows="3"></textarea>
              </div>
            </div>
          </div>
          <div class="allSteps">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
          </div>
          <div class="float-left">
            <button type="button" class="btn btn-primary mb-3" id="boutonPrecedent"
              onclick="nextStep(-1)">Précédent</button>
          </div>
          <div class="float-right">
            <button type="button" class="btn btn-primary mb-3" id="boutonSuivant" onclick="nextStep(1)">Suivant</button>
            <button type="submit" class="btn btn-primary mb-3" value="Upload" id="boutonInscription"
              onkeypress="return event.keyCode!=13">Je m'inscris
              !</button>
          </div>


        </form>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <script>
    let currentTab = 0;
    displayCurrentTab(currentTab);

    function displayCurrentTab(currentTab) {

      let allTabs = document.getElementsByClassName("tab");
      allTabs[currentTab].style.display = "flex";

      if (currentTab == 0) {
        document.getElementById("boutonPrecedent").style.display = "none";
        document.getElementById("boutonSuivant").style.display = "inline-block";
        document.getElementById("boutonInscription").style.display = "none";
      }
      else if (currentTab == 1 || currentTab == 2) {
        document.getElementById("boutonPrecedent").style.display = "inline-block";
        document.getElementById("boutonSuivant").style.display = "inline-block";
        document.getElementById("boutonInscription").style.display = "none";
      }
      else {
        document.getElementById("boutonPrecedent").style.display = "inline-block";
        document.getElementById("boutonSuivant").style.display = "none";
        document.getElementById("boutonInscription").style.display = "inline-block";
      }

      currentStep(currentTab);
    }

    function currentStep(currentTab) {
      let allSteps = document.getElementsByClassName("step");
      let i;
      for (i = 0; i < allSteps.length; i++) {
        allSteps[i].className = allSteps[i].className.replace(" currentStep", "");
      }
      for (i = 0; i <= currentTab; i++) {
        allSteps[i].className += " currentStep";
      }
    }

    function validation() {
      let allTabs = document.getElementsByClassName("tab");
      let allInputs = allTabs[currentTab].getElementsByTagName("input");
      let validation = true;
      resetErrors()

      for (i = 0; i < allInputs.length; i++) {
        if (allInputs[i].value == "" && currentTab >= 1) {
          allInputs[i].className += " invalid";
          validation = false;
        }
        if (allInputs[i].name == "email" && !/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(allInputs[i].value)) {
          document.getElementById("invalidEntryEmail").className += " displayError";
          allInputs[i].className += " invalid";
          validation = false;
        }
        if (allInputs[i].name == "age" && allInputs[i].value < 13) {
          document.getElementById("invalidEntryAge").className += " displayError";
          allInputs[i].className += " invalid";
          validation = false;
        }
        if (allInputs[i].name == "confirmPassword" && allInputs[i].value !== allInputs[i - 1].value) {
          document.getElementById("invalidEntryConfirmPassword").className += " displayError";
          allInputs[i].className += " invalid";
          validation = false;
        }
        if (allInputs[i].name == "firstName" && !/^[a-z ,.'-]+$/i.test(allInputs[i].value)) {
          document.getElementById("invalidEntryFirstName").className += " displayError";
          allInputs[i].className += " invalid";
          validation = false;
        }
        if (allInputs[i].name == "lastName" && !/^[a-z ,.'-]+$/i.test(allInputs[i].value)) {
          document.getElementById("invalidEntryLastName").className += " displayError";
          allInputs[i].className += " invalid";
          validation = false;
        }
        if (allInputs[i].name == "username" && !/^(?=.{5,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$/.test(allInputs[i].value)) {
          document.getElementById("invalidEntryUsername").className += " displayError";
          allInputs[i].className += " invalid";
          validation = false;
        }
        if (allInputs[i].name == "city" && !/^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$/.test(allInputs[i].value)) {
          document.getElementById("invalidEntryCity").className += " displayError";
          allInputs[i].className += " invalid";
          validation = false;
        }
        if (allInputs[i].name == "codePostal" && !/^(([0-8][0-9])|(9[0-5]))[0-9]{3}$/.test(allInputs[i].value)) {
          document.getElementById("invalidEntryCodePostal").className += " displayError";
          allInputs[i].className += " invalid";
          validation = false;
        }

      }
      return validation;
    }

    function resetErrors() {
      document.getElementById("invalidEntryEmail").className = document.getElementById("invalidEntryEmail").className.replace(" displayError", "");
      document.getElementById("invalidEntryAge").className = document.getElementById("invalidEntryAge").className.replace(" displayError", "");
      document.getElementById("invalidEntryConfirmPassword").className = document.getElementById("invalidEntryConfirmPassword").className.replace(" displayError", "");
      document.getElementById("invalidEntryFirstName").className = document.getElementById("invalidEntryFirstName").className.replace(" displayError", "");
      document.getElementById("invalidEntryLastName").className = document.getElementById("invalidEntryLastName").className.replace(" displayError", "");
      document.getElementById("invalidEntryUsername").className = document.getElementById("invalidEntryUsername").className.replace(" displayError", "");
      document.getElementById("invalidEntryCity").className = document.getElementById("invalidEntryCity").className.replace(" displayError", "");
      document.getElementById("invalidEntryCodePostal").className = document.getElementById("invalidEntryCodePostal").className.replace(" displayError", "");
    }

    function nextStep(n) {
      let allTabs = document.getElementsByClassName("tab");
      // On bloque l'avancée si un champ n'est pas correctement rempli
      if (n == 1 && !validation()) return false;

      allTabs[currentTab].style.display = "none";
      currentTab = currentTab + n;

      displayCurrentTab(currentTab);
    }

    document.onkeypress = function (e) {
      var key = e.charCode || e.keyCode || 0;
      if (key == 13 && currentTab !== 3) {
        e.preventDefault();
        if (validation()) {
          nextStep(1);
        }
      }
    }


  </script>
</body>

</html>